<!-- Footer -->

<div class="container-fluid bg-dark footer">
    <div class="row">
        <div class="col-lg-2">
            <h5 class="footer-title">Resources</h5>
            <ul class="footer-list">
                <li class="footer-item">
                    <a href="" class="footeer-link" routerLink="">Search</a>
                </li>
                <li class="footer-item">
                    <a href="" class="footeer-link" routerLink="about">About Us</a>
                </li>
                <li class="footer-item">
                    <a href="" class="footeer-link" routerLink="contact">Contact</a>
                </li>
                <li class="footer-item">
                    <a href="" class="footeer-link" routerLink="menu">Shop Now</a>
                </li>
            </ul>
        </div>
        <div class="col-lg-2">
            <h5 class="footer-title">Policy Information</h5>
            <ul class="footer-list">
                <li class="footer-item">
                    <a href="" class="footeer-link" routerLink="">Refund Policy</a>
                </li>
                <li class="footer-item">
                    <a href="" class="footeer-link" routerLink="">Privacy Policy</a>
                </li>
                <li class="footer-item">
                    <a href="" class="footeer-link" routerLink="">Shipping Policy</a>
                </li>
                <li class="footer-item">
                    <a href="" class="footeer-link" routerLink="">Terms of Service</a>
                </li>
            </ul>
        </div>
        <div class="col-lg-2">
            <h5 class="footer-title">Contact Information</h5>
            <ul class="footer-list">
                <li class="footer-item">
                    <p class="footer-text">Our Warehouse :<br/>
                        000 New York<br/>
                        ABC Street
                    </p>
                </li>
                <li class="footer-item">
                    <a href="" class="footeer-link" routerLink="">newshop@gmail.com</a>
                </li>
            </ul>
        </div>
        <div class="col-lg-2">
            <h5 class="footer-title">SUBSCRIBE</h5>
            <ul class="footer-list">
                <li class="footer-item">
                    <p class="footer-text">Sign up to get the latest on sales, new releases and more …</p>
                </li>
                <div class="footer-icon__link">
                    <li class="footer-item">
                        <a href="" class="footeer-link" routerLink=""><i class="bi bi-facebook footer-icon"></i></a>
                    </li>
                    <li class="footer-item">
                        <a href="" class="footeer-link" routerLink=""><i class="bi bi-instagram footer-icon"></i></a>
                    </li>
                    <li class="footer-item">
                        <a href="" class="footeer-link" routerLink=""><i class="bi bi-google footer-icon"></i></a>
                    </li>
                </div>
            </ul>  
        </div>
    </div>
</div>