<div class="container contact-us">
    <div class="row">
        <h3 class="contact-us__title">Contact Us</h3>
        <div class="col-lg-8 mt-5 mb-5">
            <div class="contact-us__content">
                <h4 class="contact-us__heading">We would love to hear from you.</h4>
                <div class="mb-3">
                    <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Name">
                    <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Email">
                </div>
                <div class="mb-3">
                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="5" placeholder="Mess"></textarea>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                    <label class="form-check-label" for="flexCheckDefault">
                        Save my name, email, and website in this browser for the next time I comment.
                    </label>
                </div>
                  <button type="button" class="btn contact-us__btn btn-dark">Submit Now</button>
            </div>
            <div class="contact-us__info">
                <h5 class="contact-us__heading-info">Address</h5>
                <p class="contact-us__body-info">000 Street Abc in New York</p>
                <h5 class="contact-us__heading-info">Information</h5>
                <p class="contact-us__body-info">Email: newshop@gmail.com</p>
                <h5 class="contact-us__heading-info">Social Media</h5>
                <a href=""class="contact-us__link"><i class="contact-us__icon bi bi-facebook"></i></a>
                <a href=""class="contact-us__link"><i class="contact-us__icon bi bi-instagram"></i></a>
            </div>
        </div>
    </div>
</div>