/* About Us */

.row {
    justify-content: center;
}

.about-us__header {
    text-align: center;
    padding: 30px 0;
    font-size: 2rem;
    font-weight: 600;
}

.about-us__contain {
    border-left: 1px solid #e5e7eb;
    border-width: 5px;
    padding-right: 30px;
}

.about-us__text {
    color: var(--black-color);
    font-style: italic;
    display: block;
    padding: 0 44px;
}