<div class="container about-us">
    <div class="row">
        <div class="col-lg-8 mt-5 mb-5">
            <h3 class="about-us__header">About Us</h3>
            <div class="about-us__contain">
                <span class="about-us__text">
                    Hello Fashion Girl Shoppers, my name is Jenn and I am the proud owner. With 15+ years experience in the fashion industry working from New York to Dubai; I have taken a leap of Faith and decided to start Fashion Girl, something that has always been a dream of mine but was always too scared to do. After living overseas for 7+ years I have decided to go for it and here we are! With a bit of Hope & Faith I strive to bring you all your fashion needs.<br/><br/>
                    I love fashion and want to offer women affordable fashion!! I want to make sure women feel confident in their own skin, and truly believe that fashion is a way to reflect your personality. It's important to me to offer you the latest styles, every item is handpicked with all you ladies in mind!<br/><br/>
                    I am dedicated to building long lasting relationships with every customer, through my blog, live feeds and social media I hope to connect with you all! So spread the word to all your family & friends. <br/><br/>
                    I absolutely LOVE what I am doing and am truly grateful for all my customers!<br/><br/>
                    Thank You!
                </span>
            </div>
        </div>
    </div>
</div>