<!-- Login -->

<div class="container mt-4 mb-4">
    <div class="row">
        <h3 class="register-header">Register</h3>
        <div class="col-lg-4">
            <div class="register">
                <span class="register-title">Register</span>
                <input type="text" class="form-control register-input" id="exampleFormControlInput1" placeholder="Email">
                <input type="text" class="form-control register-input" id="exampleFormControlInput2" placeholder="Password">
                <input type="email" class="form-control register-input" id="exampleFormControlInput3" placeholder="Email">
                <input type="password" class="form-control register-input" id="exampleFormControlInput4" placeholder="Password">
                <p class="signup-text">Sign up for early Sale access plus tailored new arrivals, trends and promotions. To opt out, click unsubscribe in our emails.</p>
                <a href="" class="signup-link">
                    <button type="button" class="btn btn-dark signup-btn">Register</button>
                </a><br/>
                <a href="" class="signup-link" routerLink="../login">
                    <button type="button" class="btn btn-outline-dark signup-btn">Log In</button>
                </a>
            </div>
        </div>
    </div>
</div>