<!-- Login -->

<div class="container mt-4 mb-4">
    <div class="row">
        <h3 class="login-header">Log In</h3>
        <div class="col-lg-4">
            <div class="login">
                <span class="login-title">Log In</span>
                <input type="email" class="form-control login-input" id="exampleFormControlInput1" placeholder="Email">
                <input type="password" class="form-control login-input" id="exampleFormControlInput2" placeholder="Password">
                <a class="login-fogot">Forgot your password?</a>
                <button type="button" class="btn btn-dark login-btn">Sign In</button>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="signup">
                <span class="login-title">New Customer</span>
                <p class="signup-text">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus at iaculis quam. Integer accumsan tincidunt fringilla.<br/>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus at iaculis quam.
                </p>
                <a href="" class="signup-link" routerLink="../signup">
                    <button type="button" class="btn btn-dark signup-btn">Register</button>
                </a>
            </div>
        </div>
    </div>
</div>